<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>launchctl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B10F1B70F43BE7E00875782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B10F1E60F43BF5C00875782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>726056200EA8088C00D65FE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC59A0530E8C884700D41150</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC59A05F0E8C885100D41150</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC59A06C0E8C888A00D41150</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC59A0750E8C88AC00D41150</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC59A07A0E8C88BB00D41150</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC59A0900E8C892300D41150</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC59A0CD0E8C8A5C00D41150</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCD7132A0E95D64D001B0111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
